.billing-page{

padding:40px;
background:#eaf6ff;
min-height:100vh;
text-align:center;

}

.bill-container{

display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;

}

.bill-card{

background:white;
padding:25px;
border-radius:10px;
width:220px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);

}

.pay-btn{

background:#4CAFEE;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
margin-top:10px;

}

.pay-btn:hover{

background:#2196F3;

}