asgiref==3.11.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
clr_loader==0.2.7.post0
cryptography==46.0.1
distlib==0.4.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.20.0
idna==3.11
IronPdf==2025.9.1.4
packaging==26.0
pdfkit==1.0.0
pillow==11.3.0
platformdirs==4.5.0
psycopg2==2.9.11
pycparser==2.23
PyJWT==2.11.0
PyMySQL==1.1.2
pythonnet==3.0.5
razorpay==2.0.1
requests==2.33.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.6.3
virtualenv==20.35.4
